/* Main Content */

main {
  display: flex;
  flex-direction: row;
  background-color: var(--gray);
  border-radius: 25px;
  width: 80%;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
  position: relative;
}

.main-container {
  width: 50%;
}

.main-container h1 {
  font-size: var(--mainTitles);
  font-weight: 500;
  line-height: 1;
  margin-top: 60px;
  height: 45%;
}

.main-container p {
  font-size: var(--paragraph);
}

.main-container span {
  color: var(--lightPurple);
  font-weight: bold;
}

#primary-btn {
  margin-top: 40px;
}

.main-container a {
  text-decoration: none;
}

.hero-container {
  display: flex;
}

.hero-container img {
  width: 100%;
}

.triangle {
  display: none;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 700px solid transparent;
  border-bottom: 700px solid var(--lightPurple);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Circle Icons */

.circle {
  transition: opacity 0.3s ease-in-out;
}

#upper-icon {
  width: 100px;
  height: 100px;
  background-color: var(--black);
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 55%;
  transform: translate(-40%, -50%);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: bounce 2.4s ease-in-out infinite;
  padding: 10px;
}

#middle-icon {
  width: 80px;
  height: 80px;
  background-color: var(--black);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-40%, -50%);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: bounce 2.1s ease-in-out infinite;
  padding: 10px;
}

#bottom-icon {
  width: 120px;
  height: 120px;
  background-color: var(--black);
  border-radius: 50%;
  position: absolute;
  top: 58%;
  left: 55%;
  transform: translate(-40%, -50%);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: bounce 2.3s ease-in-out infinite;
  padding: 10px;
}

/* Cicle Icons Animations */

@keyframes bounce {
  0% {
    transform: translateY(0)
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Media Querys */

@media (max-width: 800px) {
  main {
    background-color: transparent;
    flex-direction: column;
    width: 100%;
    padding: 0;
    min-height: 550px;
    border-radius: 0;
  }

  .hero-container img {
    width: 100%;
    order: 1;
    padding-left: 20px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    padding: 0 20px;
    width: 100%;
    order: 2;
  }

  .main-container h1 {
    font-size: var(--mainTitleMobile);
    min-height: 150px;
  }

  .main-container p {
    font-size: var(--paragraphMobile);
  }

  .main-container button {
    margin: 80px auto;
  }

  .triangle {
    display: block;
  }

  /* Circle Icons */

  #upper-icon {
    width: 80px;
    height: 80px;
    top: 5%;
    left: 20%;
  }

  #middle-icon {
    width: 60px;
    height: 60px;
    top: 16%;
    left: 5%;
  }

  #bottom-icon {
    width: 100px;
    height: 100px;
    top: 25%;
    left: 18%;
  }
}