@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Palette */
  --black: #000;
  --gray: #212121;
  --purple: #72507A;
  --lightPurple: #EAA0FD;
  --white: #fff;

  /* Font Sizes */
  --tags: 12px;
  --icons: 28px;
}

body {
  background-color: var(--black);
  font-family: 'Catamaran', sans-serif;
  margin-top: 110px;
  color: var(--white);
}

body.scroll-lock {
  overflow: hidden;
}

p {
  line-height: 1.5;
}

#mainTitle {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--lightPurple);
  animation: fontsFadeIn .8s forwards;
}

/* Desktop Navbar */

.menu {
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  list-style: none;
  padding: 20px 40px;
  margin: 20px auto;
  background-color: rgba(33, 33, 33, 0.7);
  backdrop-filter: blur(5px);
  width: fit-content;
  gap: 40px;
}

.menu-link {
  text-decoration: none;
  color: var(--white);
}

.menu-link:hover {
  color: var(--lightPurple);
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  transition: top 0.3s;
  opacity: 0;
  transition: opacity .5s ease;
  border: 5px solid #EAA0FD;
}

.navbar-container.active {
  display: block;
  transform: scaleY(1);
}

.navbar-container.visible {
  opacity: 1;
}

/* Mobile Navbar */

.menu-container {
  display: none;
  position: relative;
  justify-content: end;
  padding: 20px;
}

.bars-menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.bars-menu span {
  display: block;
  width: 100%;
  height: 3.5px;
  background-color: var(--lightPurple);
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
  border-radius: 5px;
}

.activeline1-bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2-bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3-bars-menu {
  transform: rotate(-45deg) translate(-2px, 2px);
}

.active-menu-container {
  transition: 0.3s ease-in-out;
  background-color: rgba(33, 33, 33, 0.9);
}

/* Animations */

/* Fonts */
@keyframes fontsFadeIn {
  from {
    font-size: 0;
  }

  to {
    font-size: 32px;
  }
}

/* Slides Sections Animations */

.slide-left-right,
.slide-right-left {
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.slide-left-right {
  transform: translateX(-50px);
}

.slide-right-left {
  transform: translateX(50px);
}

.slide-right-left.active,
.slide-left-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Navbar */
@keyframes fadeInNav {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Mobile Navbar Options */

#navbar {
  display: none;
  opacity: 0;
  background-color: rgba(33, 33, 33, 0.9);
  width: 100%;
  position: absolute;
  z-index: -2;
  transition: opacity 0.3s ease-in-out;
}

#navbar.activenavbar {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
  padding: 40px;
  height: 100%;
}

#navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

#navbar ul li {
  display: flex;
  margin: 10px 0;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--white);
  font-size: 48px;
}

#navbar ul li a:hover {
  color: var(--lightPurple);
}

/* Buttons */

#primary-btn {
  display: flex;
  background-color: var(--lightPurple);
  font-size: var(--smallFont);
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 10px 60px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  color: var(--gray);
  justify-content: center;
}

#primary-btn:hover {
  background-color: var(--purple);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
}

.cv-btn {
  text-decoration: none;
}

/* Tags */

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  max-width: none;
  min-height: fit-content;
}

.tag {
  display: flex;
  flex-direction: row;
  background-color: var(--purple);
  width: min-content;
  align-items: center;
  padding: 5px 10px 5px 5px;
  border-radius: 8px;
  gap: 5px;
  font-size: var(--tags);
  color: var(--lightPurple);
}

.tag-icon {
  display: flex;
  background-color: var(--black);
  border-radius: 5px;
  align-items: center;
}

.tags-container img {
  max-width: 20px;
  min-width: 20px;
}

/* Media Querys */

@media (max-width: 800px) {
  body {
    margin-top: 0;
  }

  .navbar-container {
    display: none;
  }

  .menu-container {
    display: flex;
  }

  #navbar {
    display: block;
  }
}